

<f:comment>
####################################################	
###  Search Template
####################################################
</f:comment>
<form class="form-inline" action="{actionUrl}" method="get" >
	<div class="form-group">
		<label for="search"><f:translate key="tx_agproduct_domain_model_product.suche" /></label>
		<input type="text" name="suche" class="form-control" id="search" value="{gp.suche}">
	</div> 
	<button type="submit" class="btn btn-default"><f:translate key="tx_agproduct_domain_model_product.submit" /></button>
<form>


