
<table class="tx-ag-project" >
	<tr>
		<td>
			<f:translate key="tx_agproject_domain_model_project.title" />
		</td>
		<td>
		{project.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_agproject_domain_model_project.description" />
		</td>
		<td>
		{project.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_agproject_domain_model_project.images" />
		</td>
		<td>
				<f:image src="{project.images.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_agproject_domain_model_project.client" />
		</td>
		<td>
		{project.client}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_agproject_domain_model_project.website_url" />
		</td>
		<td>
		{project.websiteUrl}
		</td>
	</tr>
</table>